:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #eee;
}

.App {
  padding-top: 48px;
  text-align: center;
}

label {
  display: block;
  padding: 6px;
}

input {
  margin-bottom: 24px;
}
